@media (max-width:991px){
    .carts {
        grid-template-columns: repeat(2 , 1fr);
    }
    .cart-container{
        grid-template-columns: 2fr 1fr;
    }
}
@media (max-width:542px){
    .carts {
        grid-template-columns: repeat(1 , 1fr);
    }
    .cart-container{
        grid-template-columns: 1fr 1fr;
    }
}